global:
  scrape_interval: 15s  # Par défaut, rafraîchit les targets toutes les 15 secondes.
  evaluation_interval: 15s  # Évalue les règles toutes les 15 secondes.

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      {% for alertmanager in alertmanagers %}
      - '{{ alertmanager }}'
      {% endfor %}

rule_files:
  - "rules/*.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets:
        {% for host in groups['nodes'] %}
        - '{{ hostvars[host].ansible_host }}:9100'
        {% endfor %}

  {% if custom_scrape_configs is defined %}
  {{ custom_scrape_configs }}
  {% endif %}
